<div class="sidebar-container">
  <div class="logo">
    <h3>OPS HUB</h3>
  </div>
  <ul class="nav-menu">
    <li routerLink="/home" routerLinkActive="active">
      <span class="icon">🏠</span>
      <span>Home</span>
    </li>
    <li routerLink="/services" routerLinkActive="active">
      <span class="icon">☰</span>
      <span>Services</span>
    </li>
    <li routerLink="/library" routerLinkActive="active">
      <span class="icon">📁</span>
      <span>Library</span>
    </li>
    <li routerLink="/learning-hub" routerLinkActive="active">
      <span class="icon">🎓</span>
      <span>Learning Hub</span>
    </li>
    <li routerLink="/support" routerLinkActive="active">
      <span class="icon">🎧</span>
      <span>Support</span>
    </li>
    <li routerLink="/idea-hub" routerLinkActive="active">
      <span class="icon">💡</span>
      <span>Idea Hub</span>
    </li>
  </ul>
</div>
