<div class="sidebar-container">
  <div class="logo">
    <h3>SITA</h3>
  </div>
  <ul class="nav-menu">
    <li>
      <span class="icon">🏠</span>
      <span>Home</span>
    </li>
    <li routerLink="/operational-support" routerLinkActive="active">
      <span class="icon">☰</span>
      <span>Services</span>
    </li>
    <li routerLink="/billing" routerLinkActive="active">
      <span class="icon">💳</span>
      <span>Billing</span>
    </li>
    <li>
      <span class="icon">📁</span>
      <span>Library</span>
    </li>
    <li>
      <span class="icon">🎓</span>
      <span>Learning Hub</span>
    </li>
    <li>
      <span class="icon">🎧</span>
      <span>Support</span>
    </li>
    <li>
      <span class="icon">💡</span>
      <span>Idea Hub</span>
    </li>
  </ul>
</div>
